<!DOCTYPE html>
<html>
<head>
	
	<title>Agrismart dashboard</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link href="/css/403forbidden.css" rel="stylesheet" type="text/css">
    <script src="/javascript/403forbidden.js"></script>
	
</head>
<body>

<p>Welcome to 403:</p>
<h1>Forbidden resource</h1>
<p>The server understood the request but refuses to authorize it.</p>
<a href="http://localhost:<%= port %>/">Go to home page</a>

</body>
</html>