
<!DOCTYPE html>
<html>
<head>
    <title>Home - coordinates selection</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h2>Inserisci la città di cui vuoi più informazioni</h2>
    <form action="http://localhost:<%= port %>/geolocation" method="post">
        Città:
        <br>
        <input type="text" name="latitude" value="0">
        <br>
        Nazione (it, gb, fr, ...):
        <br>
        <input type="text" name="longitude" value="0">
        <br>
        <input type="submit" value="Invia">
    </form>
</body>
</html>